.todoListTask
{
    box-sizing: border-box;
    margin-top: 4px;
    padding: 10px 15px;

    border-radius: 5px;
    color: olive;
    border: darkolivegreen solid 1px;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 5rem;
}
.body {
    margin: 15px;
    padding-right: 22px;
    background-color: #191919;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.todoListTask span
{
    margin-left: 15px;
}

.todoListTaskDone
{
    color: olive;
    border: darkorange solid 1px;

    composes: todoListTask;
}

.todoListTaskDone span
{
    margin-left: 10px;
}

.field
{
    margin-left: 15px;

    color: white;
    border: none;
    background-color: black;
}

.fieldWarning
{
    color: white;
    border-color: red;
    background-color: black;
}
.deleteTask
{
    position: absolute;
    right: 5px;
    top: 5px;
    box-sizing: border-box;
    padding: 2px 4px;
}
