.App
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: white;
}

.todoList
{
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 400px;
    margin: 20px;

    box-shadow: 0 0 5px 3px #60ea95;

}

.todoList > div
{
    padding: 10px;
}

.todoListTasks
{
    grid-area: tasks;
}
button
{
    margin: 10px;
    padding: 5px 10px;

    color: white;
    border: #00fd0b solid 3px;
    border-radius: 5px;
    background-color: black;
}
button:hover
{
    opacity: 50%;
    color: white;
    background-color: darkgreen;
}
.textField
{
    margin: 10px;
    padding: 5px 10px;

    color: white;
    border: #00fdb5 solid 1px;
    border-radius: 5px;
    background-color: black;
}
.todoListTask
{
    box-sizing: border-box;
    margin-top: 4px;
    padding: 2px 10px;

    border: deepskyblue solid 1px;
    border-radius: 5px;
}
