.App {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.todoList {
    width: 400px;
    grid-template-areas: "header" "tasks" "bar";
    display: grid;
}

.todoList > div {
    padding: 10px;
}

.todoListTasks {
    grid-area: tasks;
}
button {
    border: #00fd0b solid 3px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    background-color: black;
    color: white;
}
button:hover{
    background-color: darkgreen;
    color: white;
}