.App {
  color: white;
}

.todoList {
  width: 600px;
  margin: 0 auto;
  grid-template-areas:
          ". header"
          "bar tasks";
  display: grid;
}

.todoList > div {
  padding: 10px;
}

.todoListTasks {
  grid-area: tasks;
}